.Binder {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.Binder-cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}


.card-slot {
    width: 154px;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px dashed #ccc;
    background-color: #f9f9f9;
    border-radius: 5% / 3.5%;
}

.card-slot.drag-over {
    border-color: #00aaff;
    background-color: #e0f7ff;
}
.empty-slot {
    color: #aaa;
    font-style: italic;
}

.pagination-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
    color : white;
}
.pagination-controls button {
    color: rgb(0, 0, 0);
}

.sorting-buttons {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.Binder .card{
    width: 150px;
    height: 206px;
}